body{
  font-family: monospace, sans-serif;
    margin: 0px;
}
.navigation{
  background-color: yellow;
  border: 2px solid black;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius:0.5rem;
  padding:5rem 3rem;
  font-style: italic;
  /* font-weight:bold; */
  text-align:center;
  font-size: 400%;
  /* color:  */
    /* outline: 0;   */
   display: block; 
}

 #Translate {
   padding:0.5rem 2rem;
   font-size: 100%;
   font-weight: bold;
   background-color: yellow;
   border-radius:0.5rem;
   
 }
 .mainbody{
    margin-left: 20%;
 }

 .txt{
  border-style:ridge;
  height:9rem;
  width:50rem;
  padding:2rem;
  border-radius: 0.5rem;
  font-size:150%;
 }
 .space{
   padding:3rem;

 }
 footer{
  border: 2px solid black;
  text-align: center ;
  padding:8rem;
  background-color:yellow;
  font-size: 150%;
}